body{
    margin:0;
    padding: 0;
    font-family: "Montserrat", sans-serif;    
}
nav{
    display: flex;
    background-color:rgb(2, 2, 68) ;
    flex-wrap: wrap;  
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
.item{
    position: relative;
    color: whitesmoke;
    
}
.item div{
    position: absolute;
    left: 10%;
    top: 30%;
    animation: increasedSize 2s ease-in  ;
}
@keyframes increasedSize {
    from {transform: scale(0.6);}
    to{transform: scale(1);}
}
.item div h1{
    color:rgb(2, 2, 68);
    font-size: 3.5rem;
    font-family: "Playwrite HU", cursive; 
    margin-bottom: 0;
    
}
.item div p{
    margin-top: 0;
    font-size: 1.3rem;
}
.item .but-1, .item .but-2{
    background: rgb(170, 145, 1);
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 20px;
}
.item .but-1 a, .item .but-2 a{
    text-decoration: none;
    color: #fff;
}
.item .but-2{
    background-color: rgb(2, 2, 68);
}
ul{
    list-style: none;
    margin: 0;
    padding:0;
}

 ul a{
    
    text-decoration: none;
}
.ul-1{
    display: flex;
    width: 40%;
    flex-wrap: wrap;

}
.ul-1 a{
    display:block;
    color:#fff;
    text-align: center;
}
.ul-1 li{
    flex:1 1 0;
}
.ul-2{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    
}
.ul-2 i{
    color: white;
    font-size: 20px;
}
.div-container{
    box-shadow: 2px 2px 30px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;    
}
.div-1{

    margin: 0 auto;
    display: flex;
    
   
}
.div-1 p{
    
    color: rgb(105, 91, 12);
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 20px;
    font-size: 0.7em;
}
.fa-arrow-circle-down{
    font-size: 16px;
}
.underneath{
    position: absolute; 
    background-color:whitesmoke;
     padding: 15px 20px ; 
    width:100%; 
    z-index: 100; 
    color:rgb(2,2, 68);
    display: none; 
    text-align: start;
}
.underneath:hover{
    background-color: rgb(2, 2, 68);
    color: #fff;
}
.underneath a{
    color:#fff;
    text-decoration: none;
}
.div-3 .underneath-controller{
    position: relative;
}
.div-3 .underneath-controller:hover div.underneath{
    display: block;
    transition: 2s;
    animation: move_up 1s linear ;

}
.page-under{
    position:relative;
}
.page-ul{
    position: absolute;
    z-index: 100;
    background-color: whitesmoke;
    color: rgb(2,2, 68);
    display: none;
    margin: 0;
    padding: 0;
    text-align: start;
}
.page-ul li{
    width: 8em;
}
.page-under:hover .page-ul{
    display: block;
}
.page-under:hover  li:hover{
    background-color: rgb(2, 2, 68);
    color: #fff
}
.contact-me {
    font-size: 40px;
    position:absolute;
    right: 2%;
    top: 13.5%; 
    color: green;

}
.contact-me:hover{
    transform:scale(0.8);
    transition: 0.5s;
}

    

@keyframes move_up {
    from{transform: translateY(0);}
    to{transform: translateY(2px);}
}

.fa-quran{
    font-size:3.5em;
    margin-top: 1%; 
    color: rgb(105, 91, 12);
}
.div-1 p span{
    font-size: 2.5em;
    font-weight: 900;
    color: rgb(1, 1, 22);
    display: block;
}
.div-2{
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;

}
.div-3 {
    display: flex;
    align-self: center;
}
.div-3 li{
    flex: 1 1 0;
    list-style: none;
    padding: 10px;
    text-align: center;
}
.div-3 a{
    text-decoration: none;
    color:rgb(2, 2, 68)
    
}
.div-3 li .home{
    color:goldenrod
}
.div-3 a:hover{
    color: gold;
    transition: 1s;   
}

.div-2 button{
    margin-top: 5%;
    background-color:rgb(170, 145, 1) ;
    padding: 8px;
    border: 1px solid transparent;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width:120%;
    color:white;
    font-weight: 600;

}
.div-2 button a{
    text-decoration: none;
    cursor: pointer;

}
.div-2 button:hover{
    background-color: yellow;
    
}
.div-2 button a:hover{
    color: green;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: (minmax(100px, auto));
     background-color: rgb(1, 1, 22) ; 
     color:white;
     text-align: center;
     padding-bottom: 10px;
}m
.grid-1, .grid-2, .grid-3{
    margin: auto;
    line-height: 20px;
   
}
.grid-2{
    margin-top: -2px;
}
.grid-1 p{
    margin-top: 15px;
}
 .grid-2{
    border-right: 1px solid  rgba(170, 145, 1, 0.5);
    border-left: 1px solid rgba(170, 145, 1, 0.5);
}
.grid-2 p {
    width: 90%;
}

.fa-clock, .fa-sterling-sign, .fa-certificate,.fa-chalkboard-teacher {
    color: rgb(170, 145, 1);
    font-size: 40px;
    margin-right: 5px;

} 
.lines{
    display: none;
    position: absolute;
}

.last{
    background-color:rgb(1, 1, 22);
}



.two{
    background-image: url('../asset/img-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right center ;
    width: 100%;
    height: 150vh;
}
.three{
    background-image: url('../asset/img-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center ;
    width: 100%;
    height: 150vh;
}
.four{
    background-image: url('../asset/img-4.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center ;
    width: 100%;
    height: 150vh;
}
.list-1 span{
    font-weight: bolder;
}
.article{
    width: 80%;
    margin: auto; 
    color: rgba(0, 0,0, 0.8);
    overflow: hidden;
    max-height: 23vh; 
    line-height: 30px;
     margin-top: 30px;
    
}
.article h1{
    margin-top: 0;
    font-family: "Fanwood Text", serif; ;
}
 .article-2{
    overflow: visible;
    max-height: 100% ;
    
    
} 
.article li{
    margin-bottom:10px;
}
.uniformity{
    width: 90%; 
    margin: 10px auto;
}
.read-more{
    padding: 10px;
    color:#fff;
    background-color:rgb(170, 145, 1) ;
    width: 10%;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: 3px 3px 20px yellow

}
.read-more:hover{
    cursor: pointer;
    background-color: yellow;
    color:black;
    transition: 2s;
    
}
.quran-image{
    margin: auto;
    width: 80%;
    
}
.quran-image img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    

}


.animate-me {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 2s;
    margin-right: 10px;
    box-sizing: border-box;
  }
  .animate-me.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .animate-me {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 2s;
  }
  
  
  .animate-me_2 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 2s;
  }
  .animate-me_2.visible {
    opacity: 1;
    transform: translateY(0);
  }
  img{
    width: 100%;
    max-height:700px ;
    object-fit: cover;
  }
  .second-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%; 

  }
  .section{
    background-color: rgb(240, 213, 95, 0.4); 
    padding-bottom: 30px;
    
  }
  .wrapper{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap:10px;
    width: 80%;
    margin: auto;
    
  }

  .item-0{
    grid-column: 1/16;
    text-align: center;
    align-self: center;
    font-family: "Fanwood Text", cursive; 
    font-size: 40px;
  }
  .item-1, .item-4{
    grid-column: 1/6;
    object-fit:cover;
    object-position: right;
    box-shadow: 3px 3px 20px black;
  }
  .item-2, .item-5{
    grid-column: 6/11;
    object-fit:cover;
    object-position: right;
    box-shadow: 3px 3px 20px black;
  }
  .item-3, .item-6{
    grid-column: 11/16;
    object-fit:cover;
    object-position: right;
    box-shadow: 3px 3px 20px black;
  }
  .inner{
    margin: auto; 
    width: 90%; 
    text-align: center;
  }

.inner button{
    margin-bottom: 10px;
    background-color: rgb(170, 145, 1);
    border: 1px solid transparent;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: #fff;
    font-weight: 600;
}
.content{
    margin: auto;
     width: 85%;
     padding-top: 50px;
     
}
hr{
    display: inline-block; 
    width: 40%;
    
}
.content span{
    font-size: 20px;
    width: 15%;
    text-align: center;
    font-family: "Fanwood Text" cursive;
}
.wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    text-align: center;
    font-size: 50px;
    grid-gap: 20px;
    color: rgb(2, 2, 68);
    width: 85%;
    margin: 100px auto;
}
.wrap p{ 
    font-size: 17px;
}
.wrap .p-2{
    font-size: 17px;
}
.wrap .wrap-child:hover{
    border: 1px solid rgb(170, 145, 1);
    box-shadow: 2px 2px 20px rgb(170, 145, 1)  ;
    animation: upDown 3s infinite linear ;
    
}
.wrap-child{
    padding: 30px 10px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(50px) scale(0.7);

}
.wrap-child.fly {
    opacity: 1 ;
    transform: translateX(0) scale(1);
    transition: 5s; 
}
.wrap .i-1{
    width: 100px;
    margin: auto;
    border-radius: 50%;
    background-color: rgb(2,2, 68);
    height: 100px
}
.wrap .i-1 i {
    color: rgb(170, 145, 1);
    text-align: center;
    margin-top: 20px;
}
.wrap .wrap-child:hover .i-1{
    background-color: #fff;
    border: 5px solid rgb(2,2, 68);
}
@keyframes upDown {
    0% {transform: translateY(0);}
    25% {transform: translateY(-10px);}
    50% {transform: translateY(0px);}
    75% {transform: translateY(10px);}
}
    
.container2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: black;
    grid-auto-rows: minmax(100px, auto);
}
.box1 h3{
    font-family: "EB Garamond", cursive;  
    width: 60%;
    color: #fff;
    padding-top: 40px;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 0;
    padding-bottom: 20px;
    
}
.box1 p{
    margin-top: 0;
}
.inner2{
    width: 60%;
    margin: auto;
    color: #fff;
}
.inner2 p:first-child{
    color: rgb(241, 214, 59);
}
.box2 img{

    border-radius: 10px;
    box-sizing: border-box;
    height: 100vh;
}
.teachers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: auto;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
}
.teachers  img{
    width:60%;
    
}
.teachers div{
    text-align: center;
}
.teachers div p span {
    color: #fff;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 50%;
    padding: 4px;
    margin-right: 10px;
    
}

.teach{
    margin-top: 20px;
    margin-bottom: 20px;
}
.teach:hover{
    border: 1px solid transparent;
    background: whitesmoke;
    box-shadow: 5px 5px 50px #999 ;
    border-radius: 20px;


}
.parent{
    background-image: url('../asset/compliment.jpg');
    height: 150vh;
    background-size: cover;
    background-position: center right;
    margin-top: 30px;
    position: relative;

}
 .div-parent{
    width: 30%;
    color: #fff;
    position: absolute;
    top: 40%;
    right: 10%;
    padding: 10px;
    line-height: 30px;
    

}
.div-parent p{
    animation:  movement 7s linear infinite;

}
@keyframes movement {
    from {transform: translateX(0px) ; opacity: 1}
    to {transform: translateX(-300px); opacity: 0} 

}
.fa-comment-alt{
    color: rgba(170, 145, 1, 1);
    font-size:20px;
}
.div-parent div span{
    color: rgb(241, 214, 59);
}
.innermost{
    width: 100px;
    height:100px;
    border-radius: 50%;
    background-image: url('../asset/img-2.jpg');
    background-size: 100px;
    background-position: left center;

}
footer{
    background-color: rgb(170, 145, 1);
}
.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 85%;
    box-sizing: border-box;
    grid-auto-rows: minmax(100px, auto);
    margin: auto;
}
.footer div{
    border: 1px solid rgb(170, 145, 1);
    background-color: #fff;
    margin-top: 30px;
    padding-right: 8px;
    
    
}
.footer-1{
    display: flex;
    gap:20px;
    padding-top: 20px;
    box-sizing: border-box;
    border-radius: 7px;
}
.f-1-p{
    align-self: center;
    font-size: 40px;
    padding-left: 10px ;
    
}
.f-2-p{
    font-size: 16px;
    
}
.footer-1 span{
    font-size: 20px;
    font-weight: 700;
}
.footer-2{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    width: 90% ;
    margin:  auto;
    margin-top: 20px;
    box-sizing: border-box;
}
.footer-2-div{
    font-size: 20px;
    font-family: "EB Garamond", serif;
    text-align: center;
    
}
.footer-2-div-2 input{
    padding: 10px;
    border-radius: 20px;
    width: 80%; 
    border: 1px solid transparent;

}
.ft-3{
    background: rgb(2,2, 68);
    border: 1px soild rgb(2,2, 68);
    border-radius: 20px;
    color: white;
    text-align: center;
    align-self: center;
    padding: 8px;
    box-sizing: border-box;
    width: 74%;
}
.conclusion{
    background-color: rgb(2, 2, 68);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
}
@media screen and (max-width: 1200px){
    .ul-1 a{
        font-size: 0.8em;
        padding: 3px;
        box-sizing: border-box;
    }
    .ul-2 i{
        font-size: 1em;
    }
    .div-1 p span{
        font-size: 1.5em
    }
    .div-2 button{
        padding: 3px;
        margin-top: -5px;
    
    }
    .div-2 button a{
        font-size: 1em;
    }
    .div-3 a{
        font-size: 0.8em;
    }
    .fa-arrow-circle-down{
        font-size: 12px;
    }
    .f-2-p{
        font-size: 12px;
        margin-left: -5px;
        
    }
    .footer-1 span{
        font-size: 16px;
    }
    
    .footer-2-div-2 input{
        padding: 5px;
        width: 75%;
    
    }
    .ft-3{
        
        padding: 5px;
        font-size: 12px;
    }
    /* .ul-1{
        font-size: 13px;
        display: block;
        margin-bottom: 15px;

    } */
    .ul-1 a{
        text-align: center;
    }

    .contact-me {
        top: 12.5%; 
        
    
    }    
}
@media screen and (max-width:848px){
    .read-more{
        width: 20%;
        font-size: 14px;
    }
    .fa-clock, .fa-sterling-sign, .fa-certificate,.fa-chalkboard-teacher {
        font-size: 30px;
        
    } 
    .lines{
        display: block;
        font-size: 20px;
        top: 19%;
        right: 23%;
    }   
    .div-3 {
        display: none;
    }
    .div-3 li{
        
        text-align: end;
        padding: 8px;
    }
    .div-3 li .home{
        display: block;
        margin-top: 35px;
    
}
    .div-3.visible{
        display: block;
        font-size: 20px;
    }
    .article h1{
        font-size: 20px;
    }
    .article{font-size: 13px;
    }

    hr{
        display: none;
    }
    .content{
        text-align: center;
        
    }
    .content span{
        font-size: 20px;
        width: 50%;
    }
    
    nav{
        display: block;
        text-align: center;
        
    }
    
    .ul-1{
        width: 70%;
        margin: auto;
        
    }
    .ul-2{
        margin: 10px auto;
    }
    .item div h1{
        font-size: 2.5em;
    }
    .wrap{
        width: 70%;
    
    }

    .animate-me{
        width: 90%;
        font-size: 14px;
        margin-left: 12px;

    }
    .contact-me {
        
        top: 19.5%; 
        font-size: 25px;
    
    
    }

}
@media screen and (max-width: 615px) {
    .div-container{
        grid-template-columns: none;
    }
    .div-2 button {
        margin: -22px 0 10px 0;
        padding: 5px;

    }
    .read-more{
        font-size: 11px;
    }
    
    .lines{
        top: 22%;
        right: 15%;
    }
    .div-1 p{
        font-size: 0.5em;
    }
    .ul-1 a{
        font-size: 12px;
    }
    
    .div-2 button a{
        font-size: 0.9em;
        color: whitesmoke;
    }
    .ul-2{
        width: 30%;
    }
    .wrapper{
        display: block;
    }
    .wrap{
        display: block;
        margin-top: 50px;
    }
    .grid{
        display: block;
    
    }
    .fa-quran{
        font-size:2.5em;
        margin-top: 2%; 

    }
    
    .animate-me.visible{
        width: 90%;
        
    }
    .grid-1 p{
        margin-top: 0;
    }
    .container2{
        display: block;
    }
    .box1 h3 {
        width: 90%;
        font-size: 24px;
    }
    .teachers{
        display: block;
    }
    .footer{
        display: block;
    }
    .div-parent{
        width:70%;
        font-size: 12px;
        top: 30%;
        right: 5%;
    }
    .innermost{
        margin-right: -20px;
    }
    .parent{
        background-position: bottom center;
    }
    .footer div{
        margin-top: 0;
        margin-bottom: 10px;
    }
    footer{
        padding-top: 20px;
    }
    .footer-2{
        display: block;
    }
    .footer-2-div-2 input{
        margin-top: 10px;
        margin-left: 5%;
        width: 86%;
    
    }
    .ft-3{
        padding: 10px;
        margin-top: 10px;
        width: 89%;
        margin-left: 5%;
    }
    .footer-2-div-2 input{
        padding: 10px;
    
    }
    .contact-me {
        
        top: 22%; 
        font-size: 25px;
    
    
    }

}
